.mostFans {
  padding: 2rem;
  margin-left: 25%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.otherContent {
  display: flex;
}
.otherContent > * {
  padding: 0 1rem;
}
.title > * {
  padding: 1rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableImg {
  width: 30%;
  display: none;
}
.Numbers {
  background-color: var(--cyan);
  border-radius: 20px;
  min-width: 10px;
  display: inline-block;
  font-size: 0.8rem;
}
.content > * {
  padding: 0.3rem 1rem;
}
.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowLeft {
  padding: 0.3rem 1rem;
  margin: 20px;
  outline: 3px solid #fff;
}
.arrowRight {
  padding: 0.3rem 1rem;
  outline: 3px solid #fff;
}
