.mostFans {
  padding: 2rem;
  margin-left: 25%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.otherContent {
  display: flex;
}
.otherContent > * {
  padding: 0 1rem;
}
.title > * {
  padding: 0.3rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  align-items: center;
}
.tableImg {
  width: 20%;
  display: none;
}
.Numbers {
  background-color: var(--cyan);
  border-radius: 20px;
  min-width: 10px;
  display: inline-block;
  font-size: 0.8rem;
}
.content > * {
  padding: 0.3rem 1rem;
}
.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowLeft {
  padding: 0.3rem 1rem;
  margin: 20px;
  outline: 3px solid #fff;
}
.arrowRight {
  padding: 0.3rem 1rem;
  outline: 3px solid #fff;
}
@media screen and (min-width: 1000px) {
  .tableImg {
    display: inline;
  }
  .title > * {
    padding: 1rem;
  }
  .Numbers {
    padding: 0.5rem;
  }
  .stats > * {
    font-size: 1rem;
    margin: 10px;
  }
  .stats p {
    font-size: 1.2rem;
  }
}
