.chartsWrapper {
  padding: 2rem;
  margin-left: 25%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 3px;
}
.title p {
  font-size: 1rem;
}
.Numbers {
  display: inline-block;
  background-color: var(--cyan);
  border-radius: 10px;
  min-width: 10px;
  font-size: 0.8rem;
}

.category {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.card {
  text-transform: uppercase;

  background: linear-gradient(
      180deg,
      rgba(0, 152, 204, 0.5) 0%,
      rgba(0, 204, 155, 0.5) 100%
    ),
    url("../../../assets/guitar.png") no-repeat;
  background-size: cover;
  height: 5rem;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 20px;
}
.cardText {
  position: absolute;
  padding: 1rem;
}
.guitarImage {
  width: 100%;
}

@media (min-width: 645px) {
  .category {
    grid-template-columns: repeat(3, 1fr);
  }
  .wider1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .wider2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .card {
    height: 8rem;
  }
}
@media (min-width: 508px) {
  .card {
    height: 12rem;
  }
  .Numbers {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
@media (min-width: 1000px) {
  .title {
    display: flex;
    justify-content: space-around;
  }
  .title h1 {
    font-size: 4rem;
  }
  .title p {
    font-size: 2rem;
  }
}
